{% extends "base.html" %}

{% block title %}OSPool Application{% endblock %}

{% block script %}
    <script defer src="/static/js/pages/application.js"  type="application/javascript"></script>
    <script defer src="/static/js/pages/ospool-v1.js" type="application/javascript"></script>
{% endblock %}

{% block head %}
    <style>
        .top-5 {
            top: 5rem;
        }
        .text-overlay {
            position: absolute;
            text-align: center;
            top: 0px;
            width: 100%;
            height: 100%;
            background: #eaeaeaba;
            display: flex;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="bookends bg-light py-4">
        <h1 class="text-center accent-text">No Proposals. No Allocations.</h1>
        <h3 class="text-center accent-text fw-light">Harness the Capacity of the OSPool</h3>
    </div>
    <div class="container-xxl py-4">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-7 col-lg-8 col-md-10">
                <p class="fs-5">
                    If you are a researcher affiliated with a US Academic Institution,
                    the capacity of the <a class="link-dark" href="https://osg-htc.org/services/open_science_pool">OSPool</a> is available for you to harness, just sign up!
                </p>
                <h4>About Yourself</h4>
                <form id="consultation-form" name="consultation-form" method="post" action="">
                    <div>
                        <label for="full-name" class="form-label">Full Name*</label>
                        <input id="full-name" name="full-name" type="text" class="form-control" placeholder="First Last" required>
                    </div>
                    <div class="pt-3">
                        <label for="institutional-affiliation" class="form-label">Institutional Affiliation*</label>
                        <input id="institutional-affiliation" name="institutional-affiliation" class="form-control" required>
                    </div>
                    <div class="pt-3">
                        <label for="email" class="form-label">Email (Please use the email address related to your institutional affiliation)*</label>
                        <input id="email" name="email" type="email" class="form-control" placeholder="username@domain.ext" required>
                    </div>
                    <div class="pt-3">
                        <label for="research-description" class="form-label">Briefly describe your research or research-related role*</label>
                        <textarea id="research-description" name="research-description" class="form-control" rows="4" required></textarea>
                    </div>
                    <h4 class="mt-4">About your Computing Workloads</h4>
                    <div class="">
                        <label for="typical-computation" class="form-label">
                            What is a typical computation for your work?*
                        </label>
                        <textarea id="typical-computation" name="typical-computation" class="form-control" rows="4" required></textarea>
                    </div>
                    <div>
                        <label for="resource-needs" class="form-label">What are your resource needs for a typical computation? Let us know about data sizes, computation runtime, and/or CPU/GPU/memory needs.*</label>
                        <textarea id="resource-needs" name="resource-needs" class="form-control" rows="4" required></textarea>
                    </div>
                    <div class="pt-3">
                        <label for="computation-amount" class="form-label">
                            How many computations would you like to run?*
                        </label>
                        <textarea id="computation-amount" name="computation-amount" class="form-control" rows="4" required></textarea>
                    </div>
                    <div>
                        <label for="names-and-languages" class="form-label">What program(s) or coding language(s) do you use?*</label>
                        <textarea id="names-and-languages" name="names-and-languages" class="form-control" rows="4" required></textarea>
                    </div>
                    <div class="pt-3">
                        <label for="additional-info" class="form-label">
                            Is there anything else you'd like to share about your computing practices or methods?
                        </label>
                        <textarea id="additional-info" name="additional-info" class="form-control" rows="4"></textarea>
                    </div>
                    <div class="h-captcha mt-3" data-sitekey="deb6e053-975d-4c72-86be-6c91fdf4babf"></div>
                    <div id="form-error" class="alert alert-warning py-2 my-2" role="alert" hidden></div>
                    <button id="submit" type="submit" name="submit" class="form-control btn btn-primary mt-2 w-auto px-3">Submit</button>
                </form>
            </div>
            <div class="d-none d-xl-block col-lg-4">
                <div class="sticky-top top-5">
                    <div class="">
                    <div id="ospool-user-institutions"></div>
                    <div id="ospool-user-institutions-overlay" class="">
                        <div class="text-dark my-auto  pt-1 pt-md-0 d-flex">
                            <h4 class="text-center d-inline-block mx-auto mb-0">
                                <span class="fs-3 d-inline-block">On the <span class="text-primary">OSPool</span> on <span id="ospool-date"></span></span><br>
                                <span class="d-inline-block job-text py-2">
                                    <span class="d-inline-block text-primary">
                                        <span id="ospool-jobs">1</span> jobs
                                    </span> completed
                                </span><br>
                                <span class="d-inline-block">Placed by</span>
                                <span class="d-inline-block text-primary">
                                    <span id="ospool-users">1</span> researchers
                                </span><br>
                                <span class="d-inline-block">Triggering </span>
                                <span class="d-inline-block text-primary">
                                    <span id="ospool-file-transfers">1</span> file transfers
                                </span><br>
                                <span class="d-inline-block">Consuming</span>
                                <span class="d-inline-block text-primary">
                                    <span id="ospool-core-hours">1</span> core hours
                                </span>
                            </h4>
                        </div>
                    </div>
                </div>
                    <div class="position-relative mt-4 mx-4 hover-shadow">
                        <a href="https://map.opensciencegrid.org/map/iframe?view=OSPool#15.737115,-90.140436|3">
                            <picture>
                                <source srcset="/static/images/OSPool_Contributors.webp">
                                <img class="img-fluid rounded-3" src="/static/images/OSPool_Contributors.png">
                            </picture>
                            <div class="text-overlay mb-0 rounded-3 text-dark">
                                <h4 class="m-auto accent-text">OSPool Contributor Map</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="success-modal" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">We look forward to meeting with you!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>
                Please check your inbox at <b id="user-email"></b> for an email which you can use
                to follow up or adjust any provided information as needed.
            </p>
            <p>
                You can expect our Research Facilitation team to <b>respond in 1 business day!</b>
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div id="failure-modal" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-danger">Application Submission Failed</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>
                Your automatic application submission failed, please copy the below text and email it to
                us at <a href="mailto:support@osg-htc.org">support@osg-htc.org</a> so that we can create a ticket manually.
            </p>
            <div class="rounded bg-light p-2">
                <pre id="form-information" class="text-black mb-0"></pre>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block postscript %}
    <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
    <script>
        let popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        let popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
          return new bootstrap.Popover(popoverTriggerEl, {
              delay: {show: 0, hide: 9999999},
              customClass: "info-popover"
          })
        })
        let hidePopover = (el) => {
            if(
                document.getElementsByClassName("info-popover")[0].matches(':hover') ||
                document.getElementsByClassName("popper")[0].matches(':hover')
            ){
                window.setTimeout(hidePopover, 500, el)
            } else {
                let popover = bootstrap.Popover.getInstance(el.target)
                popover.hide()
            }
        }
        document.addEventListener('shown.bs.popover', hidePopover)
    </script>
{% endblock %}