{% extends "base.html" %}

{% block title %}OSPool Application{% endblock %}

{% block script %}
    <script defer src="/static/js/pages/application.js"  type="application/javascript"></script>
{% endblock %}

{% block body %}
    <div class="container-xxl py-4">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-7 col-lg-8 col-md-10">
                <h1>Sign-up for Capacity</h1>
                <p>
                    No proposals! No allocations! If you are a researcher affiliated with a US Academic Institution,
                    the capacity of the OSPool is available for you to harness.
                </p>
                <p>
                    <b>
                        All you have to do is the sign-up here!
                    </b>
                </p>
                <form id="consultation-form" name="consultation-form" method="post" action="">
                    <div>
                        <label for="full-name" class="form-label">Full Name</label>
                        <input id="full-name" name="full-name" type="text" class="form-control" placeholder="First Last" required>
                    </div>
                    <div class="pt-3">
                        <label for="institutional-affiliation" class="form-label">Institutional Affiliation</label>
                        <input id="institutional-affiliation" name="institutional-affiliation" class="form-control" required>
                    </div>
                    <div class="pt-3">
                        <label for="email" class="form-label">Email (Please use the email address related to your institutional affiliation)</label>
                        <input id="email" name="email" type="email" class="form-control" placeholder="username@domain.ext" required>
                    </div>
                    <div class="pt-3">
                        <label for="research-description" class="form-label">Briefly describe your research or research-related role</label>
                        <textarea id="research-description" name="research-description" class="form-control" rows="4" required></textarea>
                    </div>
                    <h3 class="mt-4">About your Computing Workloads</h3>
                    <div class="pt-3">
                        <label for="typical-computation" class="form-label">
                            What is a typical computation for your work?
                        </label>
                        <textarea id="typical-computation" name="typical-computation" class="form-control" rows="4" required></textarea>
                    </div>
                    <div>
                        <label for="resource-needs" class="form-label">What are your resource needs for a typical computation? Let us know about data sizes, computation runtime, and/or CPU/GPU/memory needs.</label>
                        <textarea id="resource-needs" name="resource-needs" class="form-control" rows="4" required></textarea>
                    </div>
                    <div class="pt-3">
                        <label for="computation-amount" class="form-label">
                            How many computations would you like to run?
                        </label>
                        <textarea id="computation-amount" name="computation-amount" class="form-control" rows="4" required></textarea>
                    </div>
                    <div>
                        <label for="names-and-languages" class="form-label">What program(s) or coding language(s) do you use?</label>
                        <textarea id="names-and-languages" name="names-and-languages" class="form-control" rows="4" required></textarea>
                    </div>
                    <div class="pt-3">
                        <label for="additional-info" class="form-label">
                            Is there anything else you'd like to share about your computing practices or methods?
                        </label>
                        <textarea id="additional-info" name="additional-info" class="form-control" rows="4" required></textarea>
                    </div>
                    <div class="h-captcha mt-3" data-sitekey="deb6e053-975d-4c72-86be-6c91fdf4babf"></div>
                    <div id="form-error" class="alert alert-warning py-2 my-2" role="alert" hidden></div>
                    <button id="submit" type="submit" name="submit" class="form-control btn btn-primary mt-2 w-auto px-3">Submit</button>
                </form>
            </div>
            <div class="col-12 col-xl-7 col-lg-8 col-md-10">

            </div>
        </div>
    </div>

    <div id="success-modal" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">We look forward to meeting with you!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>
                Please check your inbox at <b id="user-email"></b> for an email which you can use
                to follow up or adjust any provided information as needed.
            </p>
            <p>
                You can expect our Research Facilitation team to <b>respond in 1 business day!</b>
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div id="failure-modal" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-danger">Application Submission Failed</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>
                Your automatic application submission failed, please copy the below text and email it to
                us at <a href="mailto:support@osg-htc.org">support@osg-htc.org</a> so that we can create a ticket manually.
            </p>
            <div class="rounded bg-light p-2">
                <pre id="form-information" class="text-black mb-0"></pre>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block postscript %}
    <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
    <script>
        let popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        let popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
          return new bootstrap.Popover(popoverTriggerEl, {
              delay: {show: 0, hide: 9999999},
              customClass: "info-popover"
          })
        })
        let hidePopover = (el) => {
            if(
                document.getElementsByClassName("info-popover")[0].matches(':hover') ||
                document.getElementsByClassName("popper")[0].matches(':hover')
            ){
                window.setTimeout(hidePopover, 500, el)
            } else {
                let popover = bootstrap.Popover.getInstance(el.target)
                popover.hide()
            }
        }
        document.addEventListener('shown.bs.popover', hidePopover)
    </script>
{% endblock %}