{% extends "base.html" %}

{% block title %}OSPool Application{% endblock %}

{% block script %}
    <script defer src="/static/js/pages/ospool-v1.js" type="application/javascript"></script>
    <script type="module">
        import {callback, submitForm} from "../../static/js/freshdesk.mjs";

        let submitButton = document.getElementById("submit")
        let form = document.getElementById("consultation-form")

        const bodyOptions = {
            "subject": "OSPool User - Account Creation",
            "group_id": 5000247959,
            "priority": 1,
            "status": 2,
            "type": "User Facilitation-Account or login"
        }

        submitButton.addEventListener("click", (e) => submitForm(e, form, bodyOptions, "/api/v1/freshdesk/ticket", callback))
    </script>
{% endblock %}

{% block head %}
    <style>
        .top-5 {
            top: 5rem;
        }
        .text-overlay {
            position: absolute;
            text-align: center;
            top: 0px;
            width: 100%;
            height: 100%;
            background: #eaeaeaba;
            display: flex;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="bookends bg-light py-4">
        <h1 class="text-center accent-text">No Proposals. No Allocations.</h1>
        <h3 class="text-center accent-text fw-light">Harness the Capacity of the OSPool</h3>
    </div>
    <div class="container-xxl py-4">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-7 col-lg-8 col-md-10">
                <p class="fs-5">
                    If you are a researcher affiliated with a US Academic Institution,
                    the capacity of the <a class="link-dark" href="https://osg-htc.org/services/open_science_pool">OSPool</a> is available for you to harness, just sign up!
                    <div class="alert alert-primary">
                        Welcome <b><a href="https://nairrpilot.org/opportunities/allocations">NAIRR pilot projects</a></b>! The OSG Consortium is excited to support your research via the
                        OSPool and PATh facility resources. Fill out the form below to get started.
                    </div>
                </p>
                <form id="consultation-form" name="consultation-form" method="post" action="">
                    <div>
                        <label for="name" class="form-label">Full Name*</label>
                        <input id="name" name="name" type="text" class="form-control" placeholder="First Last" required>
                    </div>
                    <div class="pt-3">
                        <label for="institutional-affiliation" class="form-label">Institutional Affiliation*</label>
                        <input id="institutional-affiliation" name="institutional-affiliation" class="form-control" required>
                    </div>
                    <div class="pt-3">
                        <label for="email" class="form-label">Email (Please use the email address related to your institutional affiliation)*</label>
                        <input id="email" name="email" type="email" class="form-control" placeholder="username@domain.ext" required>
                    </div>
                    <div class="pt-3">
                        <label for="how-heard" class="form-label">How did you hear about the OSPool?</label>
                        <select id="how-heard" name="how-heard" class="form-select" onchange="showOptionalInfoInput(this)">
                            <option value="">Please select</option>
                            <option value="NAIRR pilot resource request">NAIRR pilot resource request</option>
                            <option value="Online search">Online search</option>
                            <option value="Peers or colleagues at my institution">Peers or colleagues at my institution</option>
                            <option value="Collaborator within a project">Collaborator within a project</option>
                            <option value="Presentation at a conference or meeting">Presentation at a conference or meeting</option>
                            <option value="Support staff at my institution">Support staff at my institution (e.g. research computing support, department administrator)</option>
                            <option value="ACCESS">ACCESS (https://access-ci.org/)</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="pt-3">
                        <label for="optional-info" class="form-label">Provide more information about how you heard about the OSPool (Optional)</label>
                        <input id="optional-info" name="optional-info" type="text" class="form-control">
                    </div>
                    <div class="pt-3">
                        <label for="group-use" class="form-label">Is someone in your group or collaboration already using the OSPool?</label>
                        <select id="group-use" name="group-use" class="form-select">
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                            <option value="Unsure">Unsure</option>
                        </select>
                    </div>
                    <div class="pt-3">
                        <label for="interest" class="form-label">What are you interested in?</label>
                        <select id="interest" name="interest" class="form-select">
                            <option value="I need an OSPool account for my research project">I need an OSPool account for my research project</option>
                            <option value="I would like to talk about my research and explore options including the OSPool">I would like to talk about my research and explore options including the OSPool</option>
                        </select>
                    </div>
                    <div class="pt-3">
                        <label for="research-role" class="form-label">What is your research-related role?</label>
                        <select id="research-role" name="research-role" class="form-select">
                            <option value="Undergraduate">Undergraduate</option>
                            <option value="Grad Student">Grad Student</option>
                            <option value="Post-Doc">Post-Doc</option>
                            <option value="Faculty">Faculty</option>
                            <option value="Research Staff">Research Staff</option>
                            <option value="Computing/Support Staff">Computing/Support Staff</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="pt-3">
                        <label for="research-description" class="form-label">Briefly describe your research objective and computational workload. How will access to the OSPool have an impact on meeting your research objectives?</label>
                        <textarea id="research-description" name="research-description" class="form-control" rows="4" required></textarea>
                    </div>
                    <div class="pt-3">
                        <label for="collaboration" class="form-label">Is your research project contributing to the science objectives of a multi-institutional collaboration?</label>
                        <select id="collaboration" name="collaboration" class="form-select">
                            <option value="Yes">Yes</option>
                            <option value="No" selected>No</option>
                            <option value="Unsure">Unsure</option>
                        </select>
                    </div>
                    <div id="collaboration-name-container" class="pt-3" hidden>
                        <label for="collaboration-name" class="form-label">Collaboration Name:</label>
                        <input type="text" id="collaboration-name" name="collaboration-name" list="collaborations" placeholder="Start typing..." class="form-control" required>
                        <datalist id="collaborations">
                            <option value="REDTOP">
                            <option value="IceCube">
                            <option value="IGWN">
                            <option value="LSST">
                            <option value="South Pole Telescope">
                            <option value="VERITAS">
                            <option value="XENON">
                            <option value="GLUEX">
                            <option value="CLAS12">
                            <option value="MOLLER">
                            <option value="EIC">
                            <option value="Snowmass">
                            <option value="KOTO">
                        </datalist>
                    </div>
                    <div class="pt-3">
                        <label for="computational-requirements" class="form-label">List the typical requirements of your computational workload, if you know - typical data size, computational needs (cores/memory), computational runtime.</label>
                        <textarea id="computational-requirements" name="computational-requirements" class="form-control" rows="4"></textarea>
                    </div>
                    <div class="pt-3">
                        <label for="gpu" class="form-label">Does your workflow require access to GPU resources?</label>
                        <select id="gpu" name="gpu" class="form-select">
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                    <div class="pt-3">
                        <label for="storage-estimate" class="form-label">Estimate the overall amount of storage you will need for your project.</label>
                        <input id="storage-estimate" name="storage-estimate" type="text" class="form-control">
                    </div>
                    <div class="pt-3">
                        <label for="job-estimate" class="form-label">Can you estimate the number of jobs that you would need to run for your project or phase of your project?</label>
                        <select id="job-estimate" name="job-estimate" class="form-select">
                            <option value="Don’t know yet / unsure">Don’t know yet / unsure (we can help you figure this out in a consultation!)</option>
                            <option value="Less than 1000 jobs">Less than 1000 jobs</option>
                            <option value="1000 - 10,000 jobs">1000 - 10,000 jobs</option>
                            <option value="10,000 - 100,000 jobs">10,000 - 100,000 jobs</option>
                            <option value="100,000 - a million jobs">100,000 - a million jobs</option>
                            <option value="Over a million jobs">Over a million jobs</option>
                        </select>
                    </div>
                    <div class="pt-3">
                        <label for="primary-software" class="form-label">What is the primary software/program/package(s) that you plan on using? If possible, provide a link to the program's website.</label>
                        <textarea id="primary-software" name="primary-software" class="form-control" rows="3"></textarea>
                    </div>
                    <div class="pt-3">
                        <label for="additional-info" class="form-label">Is there any additional information you would like to share about your work?</label>
                        <textarea id="additional-info" name="additional-info" class="form-control" rows="4"></textarea>
                    </div>
                    <div class="h-captcha mt-3" data-sitekey="deb6e053-975d-4c72-86be-6c91fdf4babf"></div>
                    <div id="form-error" class="alert alert-warning py-2 my-2" role="alert" hidden></div>
                    <button id="submit" type="submit" name="submit" class="form-control btn btn-primary mt-2 w-auto px-3">Submit</button>
                </form>
            </div>
            <div class="d-none d-xl-block col-lg-4">
                <div class="sticky-top top-5">
                    <div class="">
                    <div id="ospool-user-institutions"></div>
                    <div id="ospool-user-institutions-overlay" class="">
                        <div class="text-dark my-auto  pt-1 pt-md-0 d-flex">
                            <h4 class="text-center d-inline-block mx-auto mb-0">
                                <span class="fs-3 d-inline-block">On the <span class="text-primary">OSPool</span> on <span id="ospool-date"></span></span><br>
                                <span class="d-inline-block job-text py-2">
                                    <span class="d-inline-block text-primary">
                                        <span id="ospool-jobs">1</span> jobs
                                    </span> completed
                                </span><br>
                                <span class="d-inline-block">Placed by</span>
                                <span class="d-inline-block text-primary">
                                    <span id="ospool-users">1</span> researchers
                                </span><br>
                                <span class="d-inline-block">Triggering </span>
                                <span class="d-inline-block text-primary">
                                    <span id="ospool-file-transfers">1</span> file transfers
                                </span><br>
                                <span class="d-inline-block">Consuming</span>
                                <span class="d-inline-block text-primary">
                                    <span id="ospool-core-hours">1</span> core hours
                                </span>
                            </h4>
                        </div>
                    </div>
                </div>
                    <div class="position-relative mt-4 mx-4 hover-shadow">
                        <a href="https://map.opensciencegrid.org/map/iframe?view=OSPool#15.737115,-90.140436|3">
                            <picture>
                                <source srcset="/static/images/OSPool_Contributors.webp">
                                <img class="img-fluid rounded-3" src="/static/images/OSPool_Contributors.png">
                            </picture>
                            <div class="text-overlay mb-0 rounded-3 text-dark">
                                <h4 class="m-auto accent-text">OSPool Contributor Map</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postscript %}
    <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
    <script>
        let popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        let popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
          return new bootstrap.Popover(popoverTriggerEl, {
              delay: {show: 0, hide: 9999999},
              customClass: "info-popover"
          })
        })
        let hidePopover = (el) => {
            if(
                document.getElementsByClassName("info-popover")[0].matches(':hover') ||
                document.getElementsByClassName("popper")[0].matches(':hover')
            ){
                window.setTimeout(hidePopover, 500, el)
            } else {
                let popover = bootstrap.Popover.getInstance(el.target)
                popover.hide()
            }
        }
        document.addEventListener('shown.bs.popover', hidePopover)

        // If select with id 'collaboration' is 'Yes', show the 'collaboration-information-container' element
        let collaborationSelect = document.getElementById("collaboration")
        let collaborationNameContainer = document.getElementById("collaboration-name-container")
        collaborationSelect.addEventListener("change", (e) => {
            if(e.target.value === "Yes"){
                collaborationNameContainer.hidden = false
            } else {
                collaborationNameContainer.hidden = true
            }
        })

    </script>
{% endblock %}