{% extends "base.html" %}

{% block title %}OSPool Event Access Request{% endblock %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block script %}
    <script type="module">
        import {callback, submitForm} from "../../static/js/freshdesk.mjs";

        let submitButton = document.getElementById("submit")
        let form = document.getElementById("consultation-form")

        const bodyOptions = {
            "subject": "Contact Us",
            "group_id": 5000247959,
            "priority": 1,
            "status": 2,
            "type": "User Facilitation-Events/Presentations"
        }

        submitButton.addEventListener("click", (e) => submitForm(e, form, bodyOptions, "/api/v1/freshdesk/ticket", callback))
    </script>
{% endblock %}

{% block head %}
    <style>
        .top-5 {
            top: 5rem;
        }
        .text-overlay {
            position: absolute;
            text-align: center;
            top: 0px;
            width: 100%;
            height: 100%;
            background: #eaeaeaba;
            display: flex;
        }
    </style>
{% endblock %}

{% block body %}
    <form id="consultation-form" name="consultation-form" method="post" action="">
        <div>
            <label for="name" class="form-label">Name</label>
            <input id="name" name="name" type="text" class="form-control" placeholder="First Last" required>
        </div>
        <div class="pt-3">
            <label for="email" class="form-label">Email</label>
            <input id="email" name="email" type="email" class="form-control" placeholder="username@domain.ext" required>
        </div>
        <div class="pt-3">
            <label for="home-institution" class="form-label">Institution/Organization</label>
            <input id="home-institution" name="home-institution" class="form-control" required >
        </div>
        <div class="pt-3">
            <label for="additional-comments" class="form-label">Comments</label>
            <textarea rows="4" id="additional-comments" name="additional-comments" class="form-control"></textarea>
        </div>
        <div class="h-captcha mt-3" data-sitekey="deb6e053-975d-4c72-86be-6c91fdf4babf"></div>
        <div id="form-error" class="alert alert-warning py-2 my-2" role="alert" hidden></div>
        <button id="submit" type="submit" name="submit" class="form-control btn btn-primary mt-2 w-auto px-3">Submit</button>
    </form>
{% endblock %}

{% block postscript %}
    <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
    <script>
        let popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        let popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
          return new bootstrap.Popover(popoverTriggerEl, {
              delay: {show: 0, hide: 9999999},
              customClass: "info-popover"
          })
        })
        let hidePopover = (el) => {
            if(
                document.getElementsByClassName("info-popover")[0].matches(':hover') ||
                document.getElementsByClassName("popper")[0].matches(':hover')
            ){
                window.setTimeout(hidePopover, 500, el)
            } else {
                let popover = bootstrap.Popover.getInstance(el.target)
                popover.hide()
            }
        }
        document.addEventListener('shown.bs.popover', hidePopover)
    </script>
{% endblock %}
