{% extends "base.html" %}

{% block title %}Homepage{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('website.static', filename='index.css') }}">
    <script defer src="/static/js/pages/ospool-v1.js" type="application/javascript"></script>
    <style>
        #ospool-user-institutions {
            content: " ";
            position: absolute;
            width: 100%;
            height: 400px;
            z-index: -1;
            background: url('/static/images/ospool-project-institutions.jpg') no-repeat center bottom;
            -webkit-filter: blur(8px);
            -moz-filter: blur(8px);
            -o-filter: blur(8px);
            -ms-filter: blur(8px);
            filter: blur(2px) brightness(30%);
        }

        #ospool-user-institutions-overlay {
            display: flex;
            height: 400px;
            font-family: Poppins, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            margin-top: -4px;
            padding-left: 4px;
            padding-right: 4px;
        }

        .cursor-pointer {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="">
        <div id="ospool-user-institutions"></div>
        <div id="ospool-user-institutions-overlay" class="">
            <div class="container text-white my-auto">
                <div class="row justify-content-center py-3">
                    <div class="col-12 col-xl-9 col-lg-10 col-md-12 col-12 col-sm-11 pt-1 pt-md-0 d-flex">
                        <h2 class="text-center d-inline-block mx-auto mb-0">
                            <span class="fs-1 d-inline-block">On the <b class="text-primary">OSPool</b> on <span id="ospool-date"></span></span><br>
                            <span class="d-inline-block job-text py-2">
                                <b class="d-inline-block text-primary">
                                    <span id="ospool-jobs">1</span> jobs
                                </b> completed
                            </span><br>
                            <span class="d-inline-block">Placed by</span>
                            <b class="d-inline-block text-primary">
                                <span id="ospool-users">1</span> researchers
                            </b><br>
                            <span class="d-inline-block">Triggering </span>
                            <b class="d-inline-block text-primary">
                                <span id="ospool-file-transfers">1</span> file transfers
                            </b><br>
                            <span class="d-inline-block">Consuming</span>
                            <b class="d-inline-block text-primary">
                                <span id="ospool-core-hours">1</span> core hours
                            </b>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-xxl">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-7 col-lg-8 col-md-10">
                <h1 class="pt-5 fw-bold">Gateway to Capacity</h1>
                <p>
                    <b>
                        The OSG Portal is a researcher's gateway to harnessing OSPool capacity without a proposal or an
                        allocation.
                    </b>
                </p>
                <p>
                    Beyond the OSPool's Capacity, an applying now provides access to OSG services including
                    OSG-Operated Access Points, and the Open Science Data Federation. Together these services
                    provide researchers with a way to manage jobs, resources to run these jobs, and a data caching
                    infrastructure to keep latency low.
                </p>
                <div class="row my-4 justify-content-center">
                    <div class="col-4">
                        <div class=" p-3 border border-dark border-5 rounded-3 shadow-lg">
                            <img class="img-fluid " src="/static/images/OSG-Colored-Icons_ospool.png"/>
                            <h4 class="text-center  text-dark mb-0 mt-3">OSPool</h4>
                            <div class="text-center "><a href="https://osg-htc.org/services/open_science_pool.html">Learn More</a></div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class=" p-3 border border-dark border-5 rounded-3 shadow-lg">
                            <img class="img-fluid " src="/static/images/OSG-Colored-Icons_access-point.png"/>
                            <h4 class="text-center  text-dark mb-0 mt-3">Access Point</h4>
                            <div class="text-center"><a href="https://osg-htc.org/services/access-point.html">Learn More</a></div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class=" p-4 border border-dark border-5 rounded-3 shadow-lg">
                            <img class="img-fluid " src="/static/images/OSG-Colored-Icons_osdf.png"/>
                            <h4 class="text-center  text-dark mb-0 mt-3">OSDF</h4>
                            <div class="text-center "><a href="https://osg-htc.org/services/osdf.html">Learn More</a></div>
                        </div>
                    </div>
                </div>
                <div class="d-flex p-3 border border-dark border-5 rounded-3 shadow-lg">
                    <a class="btn btn-primary m-auto" href="/application">Apply Now</a>
                </div>
            </div>
            <div class="d-none d-lg-block col-lg-3">
                <h1 class="pt-5 ">&nbsp</h1>
                <a class="twitter-timeline" data-height="550" href="https://twitter.com/osg_htc?ref_src=twsrc%5Etfw">Tweets by osg_htc</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
{% endblock %}
