$text: #3a3a3a;
$primary: #F1A52C;
$secondary: #b67b3c;
$white-offset: #f1f1f1;
$nav-link-color: $text;
$dark: #1F2C36;
$light: #EAEAEA;

$nav-link-font-size:  1.1rem;

$font-family-base: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

@import "bootstrap/bootstrap";

// Responsive Font Size
html {
  font-size: 14px;
}

@include media-breakpoint-up(md) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(xl) {
  html {
    font-size: 18px;
  }
}

div.col-12:not(:last-child){
  margin-bottom: 1rem;
}

footer {
  .row{
    align-content: center;
  }
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.sub-message.error {
    color: red;
}

.status-icon>.failure{
  color: red;
}

.status-icon>.success{
  color: green;
}

body{
  min-height: 100vh;
}

body.home {
  background: linear-gradient(165deg, lighten($secondary, 35%) 50%, #fff 50%);
}

body.subpage {
  background-color: lighten($secondary, 35%);
}

.project-card {
  a {
    text-decoration: none;
  }
}

#registration {
  display: none;
}

.home {
  #registration {
    display: flex;
  }
}

.accent-text {
  font-family: Poppins, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

@include media-breakpoint-up(sm) {
  .bookends {
    background-image: url("/static/images/OSG_Bookends_start.png"), url("/static/images/OSG_Bookends_end.png");
    background-position: left top, right bottom;
    background-repeat: no-repeat;
    background-size: 235px 378px, 235px 378px;
  }
}

@include media-breakpoint-up(lg) {
  .bookends {
    background-size: 235px 378px, 235px 378px;
  }
}

@include media-breakpoint-down(lg) {
  .bookends {
    background-size: 118px 189px, 118px 189px;
  }
}

.hover-shadow {
  box-shadow: 0 0rem 0rem rgba(0,0,0,0);
  transition: box-shadow 0.3s ease-in-out 0s;

  &:hover{
    box-shadow: 0 .25rem .5rem rgba(0,0,0,.5);
  }
}
